@model List<Comanda>
@{
    ViewData["Title"] = "Comandas";
}

@if(TempData["Sucesso"] != null){
        <div class="alert alert-success" role="alert">
  A comanda foi adicionada com sucesso!!
</div>
}

@if(TempData["Erro"] != null){
    <div class="alert alert-danger" role="alert">
  Problema ao adicionar a comanda!
</div>
}

<div class="text-center">
    <h1 class="display-4">Comandas abertas</h1>
</div>

 <a class="table-button button-common-style new-button" role="button" asp-controller="Comanda" asp-action="AbrirComanda">Abrir nova comanda</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Cód Comanda</th>
      <th scope="col">Identificador cliente/mesa</th>
      <th scope="col">Situação</th> 
      <th scope="col">Valor total</th>
      <th scope="col">Data aberta</th>
      <th></th>
    </tr>
  </thead>
    @if (Model != null && Model.Any())
    {
        @foreach(Comanda comanda in Model){
        <tbody>
            <tr>
            <th scoped="row">@comanda.Id</th>
            <td>@comanda.IdentificacaoCliente</td>
            <td>@(comanda.Ativa?"Aberta":"Fechada")</td>
            <td>@comanda.ValorTotal</td>
            <td>@comanda.DataComandaAbriu</td>
            <td>
                 <div class="btn-group" role="group">
                                <a role="button" class="table-button button-common-style view-button" asp-action="BuscarProdutosDaComanda" asp-controller="ProdutoComanda" asp-route-id="@comanda.Id">Ver Pedidos</a>
                                <a role="button" class="table-button button-common-style new-button" asp-controller="Categoria" asp-action="Index" asp-route-id="@comanda.Id">Novo Pedido</a>                            

                    <!-- Button trigger modal -->
<button type="button" class="table-button button-common-style remove-button" data-bs-toggle="modal" data-bs-target="#DeleteModal-@comanda.Id">
  Fechar Conta
</button>

<!-- Modal -->
<div class="modal fade" id="DeleteModal-@comanda.Id" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">Fechar a conta do cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Deseja encerrar a conta do cliente/mesa: "@comanda.IdentificacaoCliente" ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
       <form asp-controller="Comanda" asp-action="Relatorio" asp-route-id="@comanda.Id" method="post">
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                    </form>
      </div>
    </div>
  </div>
</div>

                 </td>
            </tr>
        </tbody>
        }
    }
    else
    {   <tr>
        <td colspan="5" style="text-align: center;">
        <span style="color: red;">Nenhuma comanda foi aberta até o momento!</span>
        </td>
    </tr>
    }

</table>

