@model Comanda

@{
    ViewData["Title"] = "Relatório";
}

<div class="report-container">
    <h1 class="report-title">Relatório de Comanda</h1>

    <div class="report-data">
        <h2>Dados da Comanda:</h2>
        <p><strong>Código da comanda:</strong> @Model.Id</p>
        <p><strong>Identificação do Cliente/Mesa:</strong> @Model.IdentificacaoCliente</p>
        <p><strong>Data de Abertura:</strong> @Model.DataComandaAbriu.ToString("dd/MM/yyyy HH:mm:ss")</p>
        @if (Model.DataComandaFechada.HasValue)
        {
            <p><strong>Data de Fechamento:</strong> @Model.DataComandaFechada.Value.ToString("dd/MM/yyyy HH:mm:ss")</p>
        }
        <p><strong>Valor Total a ser pago:</strong> R$ <span class="report-value">@Model.ValorTotal.ToString("0.00")</span></p>
    </div>

    <div class="report-data">
        <h2>Pedidos Realizados: @Model.ComandaProdutos.Count() </h2>
        @if (Model.ComandaProdutos != null && Model.ComandaProdutos.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço Unitário</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var produtoComanda in Model.ComandaProdutos)
                    {
                        <tr>
                            <td>@produtoComanda.Produto.NomeProduto</td>
                            <td>R$ <span class="report-value">@produtoComanda.Produto.PrecoUnitario.ToString("0.00")</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>O cliente não realizou nenhum pedido!</p>
        }
    </div>
</div>